form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .form-control {
    width: 100%;
  }

  input {
    display: block;
    padding-inline: 90px;
    padding-block: 10px;
    border-radius: 30px;
    border: solid 1px rgba(128, 128, 128, 0.514);
  }
  label {
    font-family: "Arapey", serif;
    color: rgba(50, 50, 50, 0.789);
    display: block;
    margin-left: 10px;
    margin-bottom: 7px;
  }

  button {
    margin-block: 40px;
    padding-inline: 60px;
    padding-block: 12px;
    border-radius: 30px;
    border-color: rgba(128, 128, 128, 0.514);
    font-family: "Arapey", serif;
    color: white;
    background-color: #2d5674;
    font-size: 16px;
    border: solid 1px rgba(128, 128, 128, 0.514);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }
  button:hover {
    box-shadow: 0px 3px 3px 0px rgb(0 0 0 / 55%);
  }
  button:active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
  }

  .enlaceRegister {
    font-family: "Arapey", serif;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-end;
    a {
      text-decoration: none;
      color: #2d5674;
      font-size: 18px;
      cursor: pointer;
    }
    /* margin-block: 40px;
    padding-inline: 60px;
    padding-block: 12px;
    border-radius: 30px;
    border-color: rgba(128, 128, 128, 0.514);
    color: white;
    background-color: #2d5674;
    font-size: 16px;
    border: solid 1px rgba(128, 128, 128, 0.514); */
  }
}

.inicio-sesion {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Arapey", serif;
  font-style: normal;
  font-size: 25px;
  margin-block: 70px;
  color: rgba(0, 0, 0, 0.839);
}

.form-container {
  margin-block: 120px;
}

.olvidar-contraseña {
  display: flex;
  justify-content: center;
  font-family: "Arapey", serif;
  color: rgba(0, 0, 0, 0.839);
}
