<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<app-header />
<main>
  <section class="textandimg">
    <div class="text-frente">
      <p class="text1">Relojes - Clasicos -Elegantes</p>
      <p class="text2">Summer Collection</p>
      <p class="text3">Relojes</p>
    </div>
    <div class="reloj1_home">
      <img
        src="../../../assets/img-home/img1.png"
        alt="img de entrada"
        width="340"
        height="180"
      />
    </div>
  </section>
  <section
    class="container-relojs"
    [routerLink]="['/watchs']"
    routerLinkActive="router-link-active"
  >
    <div class="reloj1">
      <a>
        <img
          src="../../../assets/img-home/audemars-phone-sin--.png"
          alt="img reloj 1"
          width="78"
        />
      </a>
    </div>
    <div class="reloj2">
      <a>
        <img
          src="../../../assets/img-home/rolex-home-phone-sin.png"
          alt="img reloj 2"
          width="87"
        />
      </a>
    </div>
    <div class="reloj3">
      <img
        src="../../../assets/img-home/batman-sin.png"
        alt="img reloj 3"
        width="83"
      />
    </div>
  </section>
  <section class="img-2-entrada">
    <img
      src="../../../assets/img-home/img2.png"
      alt="img 2 de entrada"
      width="310"
      height="180"
    />
  </section>
  <section
    class="container-relojs-parte2"
    [routerLink]="['/watchs']"
    routerLinkActive="router-link-active"
  >
    <div class="reloj1">
      <img
        src="../../../assets/img-home/audemars-phone-sin--.png"
        alt="img reloj 1 parte 2"
        width="78"
      />
    </div>
    <div class="reloj2">
      <img
        src="../../../assets/img-home/rolex-home-phone-sin.png"
        alt="img reloj 2 parte 2"
        width="87"
      />
    </div>
    <div class="reloj3">
      <img
        src="../../../assets/img-home/batman-sin.png"
        alt="img reloj 3 parte 2"
        width="83"
      />
    </div>
  </section>
  <section class="btn-mostrar-relojes">
    <button [routerLink]="['/watchs']" routerLinkActive="router-link-active">
      Mostrar Todos
    </button>
  </section>
</main>
<app-footer />
