/* .listWatchs > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.listWatchs > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
} */
.listWatchs > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 20px;
}

.listWatchs > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-crear-reloj {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    font-size: 14px;
    font-family: "Arapey", serif;
    border-radius: 8px;
    border-color: rgba(96, 96, 96, 0.815);
    margin: 20px;
    color: rgb(20 20 20 / 90%);
    padding-block: 8px;
    padding-inline: 25px;
    border: solid 1px rgba(90, 89, 89, 0.609);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
  }
  button:hover {
    box-shadow: 0px 3px 3px 0px rgb(0 0 0 / 55%);
  }
  button:active {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
  }
}
