.profile-container {
  background: #fff;
  padding: 20px;
  max-width: 400px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  font-family: "Arapey", serif;
  font-weight: 400;
  font-style: normal;
  hr {
    height: 2px;
    margin-inline: 0px;
    border-left: solid 40px #2d5674;
    border-right: solid 40px #2d5674;
  }
}

.profile-container h2 {
  margin-top: 40px;
  margin-bottom: 80px;
  font-size: 27px;
  color: #333;
  text-align: center;
}

.profile-container p {
  margin: 10px 0;
  font-size: 16px;
  color: #555;
  margin-top: 14px;
}

.profile-container p strong {
  color: #000000;
  font-size: 18px;
}

.loading {
  text-align: center;
  font-size: 18px;
  color: #999;
}
